html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://source.unsplash.com/ZpE2gobovro/1600x900");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); }
  body:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
    background: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.9)); }

.logo-outer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.logo-img {
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

.drop-shadow {
  filter: drop-shadow(0 0.4rem 0.14rem rgba(0, 0, 0, 0.5)); }
